<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylelogin.css') }}">
    <title>Registrate</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylest1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylelogin.css') }}">
 
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Inicio</a>
        </div>
    </nav>
    <section class="form-register">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,message in
        messages %}
        <div class="alert alert-{{category}}">{{message}}</div>
        {% endfor %} {% endif %} {% endwith %}
        <h4>Formulario Registro</h4>
        <form action="/registro_usuario" method="POST">
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre" required>
            <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido"
                required>
            <input class="controls" type="number" name="celular" id="celular" placeholder="Ingrese su Celular" required>
            <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo" required>
            <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña"
                required>
            
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
            <!-- <input  type="submit" value="Registrar"> -->
            <button class="botons" type="submit">Registrar</button>
        </form>

        <p><a href="/login/">¿Ya tengo Cuenta?</a></p>
    </section>
    <br>
</body>
</html>
